<div style="text-align:center">
    <h3>Acknowledgement of Country</h3>
    <p>The Reef Restoration and Adaptation Program respects and recognises all Traditional Owners of the Great Barrier Reef as First Nations Peoples holding the hopes, dreams, traditions and cultures of the Reef.</p>
    <p>© Reef Restoration and Adaptation Program.</p>
    <p>All rights reserved. <a href="https://gbrrestoration.org/terms-and-conditions/">Terms &amp; Conditions, </a><a href="https://gbrrestoration.org/privacy-policy/" style="text-align:right">Privacy Policy</a></p>
</div>
